In [1]:
pip install requests pandas sqlalchemy PyYAML

Requirement already satisfied: requests in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (2.32.3)
Requirement already satisfied: pandas in c:\users\venkat naveen\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\venkat naveen\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: PyYAML in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (6.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (from requests) (2024.6.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\venkat naveen\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\venkat naveen\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\venkat naveen\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\venkat naveen\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\venkat naveen\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

Step 1: Fetch Data from API

In [9]:
import requests
import json
import os

def fetch_api_data():
    url = "https://jsonplaceholder.typicode.com/users" -- #Sample API
    response = requests.get(url)
    data = response.json()

    # Ensure the 'data' directory exists
    os.makedirs("data", exist_ok=True)

    with open("data/raw_users.json", "w") as f:
        json.dump(data, f, indent=4)

if __name__ == "__main__":
    fetch_api_data()

SyntaxError: invalid syntax (2449892192.py, line 6)

Step2: Transfrom JSON to SQL Inserts

In [12]:
import json
import pandas as pd

def transform_data():
    with open("data/raw_users.json") as f:
        users = json.load(f)

    df = pd.json_normalize(users)
    df.to_csv("data/transformed_users.csv", index=False)

if __name__ == "__main__":
    transform_data()

In [22]:
Step 3: Basic transformations:

1. Flatten nested fields (address, company)

2. Rename columns for clarity

3. Create derived columns (e.g., full address)

4. Drop unnecessary fields (e.g., geo coordinates which ar needed)

SyntaxError: invalid syntax (1883168380.py, line 1)

In [24]:
import json
import pandas as pd
import os

def transform_data():
    # Load raw JSON
    with open("data/raw_users.json") as f:
        users = json.load(f)

    # Flatten nested JSON
    df = pd.json_normalize(
        users,
        sep='_'
    )

    # Rename some columns for clarity
    df.rename(columns={
        'address_street': 'street',
        'address_suite': 'suite',
        'address_city': 'city',
        'address_zipcode': 'zipcode',
        'company_name': 'company',
    }, inplace=True)

    # Create new derived column: full_address
    df['full_address'] = df['street'] + ', ' + df['suite'] + ', ' + df['city'] + ' ' + df['zipcode']

    # Drop unwanted columns
    df.drop(columns=[
        'address_geo_lat',
        'address_geo_lng',
        'website',  # assuming it's not needed
        'company_bs',
        'company_catchPhrase'
    ], inplace=True, errors='ignore')

    # Save to CSV
    os.makedirs("data", exist_ok=True)
    df.to_csv("data/transformed_users.csv", index=False)
    print("✅ Data transformed and saved to data/transformed_users.csv")

if __name__ == "__main__":
    transform_data()

✅ Data transformed and saved to data/transformed_users.csv

Step 3: Load to SQL Database

In [20]:
import pandas as pd
from sqlalchemy import create_engine

def load_to_db():
    df = pd.read_csv("data/transformed_users.csv")

    # Hardcoded connection for MySQL
    engine = create_engine(
        "mysql+pymysql://root:pass@localhost:3306/api_project"
    )
    
    df.to_sql("users", engine, if_exists="replace", index=False)

if __name__ == "__main__":
    load_to_db()